.App {
  display: flex;
  background-color: #fcfcfc;
  width: 100%;
  height: 100%;
  background-image: url (/ assets/ruukut.png);
  flex-direction: column;
}

.ticket .Title {
    font: Bold 88px/36px Lato;
}

h4 {
  color: #black;
  text-align: center;
  padding-bottom: 20px;
}

.App .Title {
  position: relative;
  margin-top: 2vw;
  text-align: center;
  font: Bold 88px/36px Lato;
  letter-spacing: 0;
  color: #ffac00;
  opacity: 1;
  height: 100%;
}

.App .TopBar {
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
}

.CreateButton {
  background: #ffad00 0% 0% no-repeat padding-box;
  border-radius: 4px;
  height: 5vh;
  margin-left: 10vw;
}

.SearchTool {
  margin-left: 10vw;
  width: 50vw;
}

.InfoButton {
  margin-left: 10vw;
}

.KanbanBoard {
  position: relative;
  left: 10vh;
  top: 10vh;
  display: flex;
  flex-direction: row;
}

.KanbanColumn {
  width: 340px;
  height: 60vh;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 21px;
  margin-left: 21px;
}

.TicketCreator {
  padding: 30px;
  height: 70vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 10px #00000033;
  border-radius: 18px;
  opacity: 1;
}

.Input-Container {
  margin-top: 20px;
}
