.App {
  display: flex;
  background-color: #fcfcfc;
  width: 100%;
  height: 100%;
  flex-direction: column;
}


.aanilaskuritiketissa {
  text-align: right;
  padding-right: 20px;
  padding-top: 9px;
  float:right;
}

.ticket .Title {
    font: Bold 88px/36px Lato;
}

.kanbanotsikot {
  text-align: center;
}

.otsikkodivi {
text-align: center;
display: flex;
align-items: center;
}

.App .Title {
  position: relative;
  margin-top: 2vw;
  text-align: center;
  font: Bold 88px/36px Lato;
  letter-spacing: 0;
  color: #ffac00;
  opacity: 1;
  height: 100%;
}

.App .TopBar {
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
}

.CreateButton {
  background: 0% 0% no-repeat padding-box;
  border-radius: 4px;
  height: 5vh;
  margin-left: 10vw;
}

.SearchTool {
  margin-left: 10vw;
  width: 50vw;
}
.otsikkokuva
{
  margin-top: 1vw;
  display: flex;
justify-content: center;
align-items: center;}

.InfoButton {
  margin-left: 10vw;
}

.KanbanBoard {
  position: relative;
  left: 10vh;
  top: 10vh;
  display: flex;
  flex-direction: row;
}

.KanbanColumn {
  width: 340px;
  height: 60vh;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 21px;
  margin-left: 21px;
}

.TicketCreator {
  padding: 30px;
  height: 70vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 10px #00000033;
  border-radius: 18px;
  opacity: 1;
}

.Input-Container {
  margin-top: 20px;
}

.tag-container {
  margin-top: 20px;
}

.tag-container .tag {
  margin-right: 10px;
  background-color: white;
  border: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 5%;
}
